<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>signup</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>


<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: black">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
        </div>
    </div>
</nav>

<br>
<br>
<!-- Create HTML registration form -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered!</div>
            </div>

            <h1 style="font-family: Arial,serif"><b>SIGN UP</b></h1><br>

            <form id="register" name="register" action = "/register" method="post">
                <div class="form-group">
                    <label class="control-label" for="firstName"> First Name </label>
                    <input type="text" id="firstName" class="form-control"  name="firstName"
                           required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="lastName"> Last Name </label> <input
                       type="text" id="lastName" class="form-control" name="lastName"
                        required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="username"> Username </label> <input
                        type="text" id="username" class="form-control" name="username" required
                        autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="password"> Password </label> <input
                        id="password" class="form-control" type="password" name="password"
                        required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="con_password">Confirm Password</label> <input
                        id="con_password" class="form-control" type="password" name="con_password"
                        required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success" onclick="verify()">SignUp</button>
                    <span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script>
    function verify()
    {
        let pw = document.getElementsById("password").value;
        let conPW = document.getElementsById("con_password").value;

        if(pw == conPW)
        {
            document.getElementById("register").submit();
        }
        else
        {
            alert("Password doesn't match.");
            return;
        }
    }
</script>
</html>